.App {
  text-align: center;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.App-title {
  background-color: #4d79ff;
  height: 6rem;
  line-height: 6rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  flex: none;
}

.chat-navigation {
  background-color: #ffffe6;
  flex: auto;
  overflow-y: scroll;
  padding: 0.5rem 1.5rem;
  text-align: justify;
}

.send-message-form {
  background-color: #b3c6ff;
  flex: none;
  padding: 0.5rem 0.5rem;
}

.send-message-text {
  resize: none;
  border-radius: 0.5rem;
}

.send-message-button {
  border-radius: 0.5rem;
  font-variant: small-caps;
  font-weight: 700;
  background-color: #4d79ff;
  border: 0;
  color: #ffffe6;
}

.send-message-button:hover {
  color: #ffffe6;
  background-color: #0039e6;
}

.msg-display {
  display: inline-block;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: #444;
}

